/*  */
body {
    font-family: "Poppins", serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f0f0f0; /* Backup color if image doesn't load */
}

header {
    display: flex;
    flex-flow: column;
    align-items: center;
}

/* Within 1500px, nothing happens, but when it goes beyond 1500px, if this line of text is not centered, it will go to the left. It's just looked like it's centered, but it's not. Therefore, I centered it. */
.about p {
    text-align: center;
}


/* Nav Links */
.nav_links {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.nav_links li a {
    /* I like this color better */
    color: #45ADAD;
}

/* Make sure links wont change color even after visiting */
.nav_links li a:visited {
    color: #45ADAD;
}

.card>header {
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0;
    border-radius: 50px 50px 0 0;
}

.card {
    border-radius: 50px 50px 0 0;
    flex-basis: 450px;
}

.pricing {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery img {
    border: 10px solid #50c7c7;
    margin: 10px;
    width: 300px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Screen size 900px and above*/

@media screen and (min-width:900px) {
    header {
        display: flex;
        flex-direction: row;
        /* To make logo image as left as possible and nav links as right as possible. */
        justify-content: space-between;
    }

    body>header {
        position: sticky; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        /* width: 100%; Full width */
    }

    .nav_links {
        display: flex;
        flex-direction: row;
    }

/* .pricing settings inherited to control the layout of cards. */
    .card {
        flex-basis: 275px;
    }


}

/* Logo Animation Here */
header img {
    animation: logomove 5s;
}

@keyframes logomove {
    from {width: 25px; color: rgba(0, 0, 0, 0);}
    to {width: 475px; color: rgba(0, 0, 0, 1);}
}

@media all and (prefers-reduced-motion: reduce) {
    header img {
        animation: none;
    }
}

@media print {
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .nav_links li {
        margin: 0 80px; /* Adjusts space between each link */
    }

    .pricing {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        flex-wrap: nowrap;
    }

    .card {
        border: 2px solid #45ADDD;
        flex-basis: 325px;
    }

    .card ul li:nth-child(2n)::after {
        /* Adds thumbs-up icon */
        content: "👍 ";
        margin-right: 5px;
        margin-bottom: 5px;
        font-size: 1em;
        align-items: center;
    }


/* No gallery visible */
    .gallery, #gallery {
        display: none;
    }
}